* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
    text-decoration:none;
}

body {
    background-color: #131313;
}

header {
    max-width: 1110px;
    width: 100%;
    margin: auto;
    display:flex;
    padding: 45px 0px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-left:10px;
    cursor: pointer;
}

.header-button a,
.about a{
    max-width:255px;
    text-decoration: none;
    background-color: #B3F00D;
    color: #092F32;
    font-size: 16px;
    padding: 16px 40px;
    border-radius: 10px;
    display:flex;
    align-items: center;
    margin-right:10px;
}

.header-button a:hover,
.about a:hover {
    background: linear-gradient(95deg, #B3F00D 0%, #B3F00D 50%, #2AC8A3 100%);
}

.header-button a img,
.about a img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.about {
    max-width: 1110px;
    width:100%;
    margin:auto;
    display:flex;
}

.about-left-side,
.about-right-side {
    flex:1;
}

.about-left-side {
    margin-left: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.about-right-side {
    margin-right: 10px;
    display:flex;
    justify-content: flex-end;
}

.about-left-side h2 {
    font-size: 20px;
    font-weight: 400;
    color: #B3F00D;
    margin-bottom: 10px;
}

.about-left-side h1 {
    font-size: 40px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 20px;
}

.about-left-side p {
    font-size: 16px;
    color: #FFF;
    margin-bottom: 40px;
}

.about-right-side img {
    width: 532px;
    height: 532px;
}

.about .about-button-mobile {
    display:none;
}

.skills {
    max-width: 1110px;
    width:100%;
    margin:auto;
    display:flex;
    padding: 100px 0px;
    color: #fff;
    justify-content: center;
}

.skills-left-side,
.skills-right-side {
    flex: 1;
}

.skills-left-side {
    margin-left: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.skills-left-side h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.skills-left-side span {
    color: #B3F00D;
}

.skills-left-side p {
    max-width: 445px;
    font-size: 16px;
}

.skills-right-side {
    display: flex;
    max-width: 516px;
}

.skills-right-side .skills-track {
    display:flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.skills-right-side .slide {
    display:flex;
    gap: 50px;
}

.skills-right-side .item {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-right-side .item-border {
    border: 2px solid #B3F00D;
    border-radius: 10px;
    padding: 25px;
}

.skills-right-side img {
    display:block;
    width: 76px;
    height: 76px;
}

.skills-right-side p {
    margin-top: 9px;
    color: #B3F00D;
    font-weight: 100;
}

.skills-right-side .carousel-dots {
    display:none;
    padding-top: 30px;
    gap: 15px;
    justify-content: center;
}

.skills-right-side .dot {
    width: 19px;
    height: 19px;
    background-color: #fff;
    border-radius: 50%;
    border:none;
    cursor: pointer;
}

.skills-right-side .dot.active {
    background-color: #B3F00D;
}

.info {
    max-width: 1110px;
    width:100%;
    margin:auto;
    display:flex;
    color: #fff;
    justify-content: center;
}

.info-left-side,
.info-right-side {
    flex:1;
}

.info-left-side {
    margin-left: 30px;
}

.info-left-side img {
    max-width: 445px;
    max-height: 490px;
}

.info-right-side {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
}

.info-right-side h2 {
    font-size: 30px;
    font-weight: 700;
    color: #B3F00D;
    margin-bottom: 15px;
}

.info-right-side p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
    max-width: 540px;;
}

.info-right-side img:first-child {
    margin-right: 30px;
}

footer {
    max-width: 1110px;
    width: 100%;
    margin: auto;
    padding-top:80px;
}

footer .footer-bar {
    margin:auto;
    width:100%;
    height:1px;
    background-color: #B3F00D;
}

footer .footer-info {
    padding: 50px 0px;
    display:flex;
    justify-content: space-between;
    color: #fff
}

footer .footer-info-left-side {
    margin-left: 30px;
    cursor: pointer;
}

footer .footer-info-right-side {
    margin-right: 30px;
}

footer .footer-info-right-side h2 {
    font-size: 16px;
    font-weight: 300
}


@media (max-width: 800px) {
    .about {
        flex-direction: column;
    }

    .about-right-side {
        justify-content: center;
    }

    .about-left-side a {
        display:none;
    }

    .about .about-button-mobile {
        display:flex;
        justify-content: center;
    }

    .about-button-mobile a {
        min-width: 310px;
        margin: 0px;
        display:flex;
        justify-content: center;  
    }
    
    .skills {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skills-left-side {
        margin-bottom: 50px;
    }

    .info-left-side {
        display:none;
    }

    .info-right-side {
        margin-left: 30px;
    }
}

@media (max-width: 600px) {
    
    .header-logo {
        margin-left:30px;
    }
    
    .header-logo img {
        width: 146px;
        height:22px;
    }

    .header-button a {
        padding: 14px 15px;
        margin-right:30px;
    }

    .header-button a img {
        margin: 0px;
    }

    .header-button span {
        display:none;
    }

    .about-right-side img {
        width: 344px;
        height: 344px;
    }

    .about-left-side {
    margin-left: 30px;
    }

    .about-left-side h1 {
    font-size: 28px;
    }

    .about-left-side p {
    font-size: 14px;
    max-width: 310px;
    }

    .skills {
        align-items: flex-start;
        padding-bottom: 70px;
    }

    .skills-left-side {
        margin-left:30px;
    }

    .skills-left-side h1 {
        font-size: 24px;
    }

    .skills-left-side p {
        font-size:14px;
        max-width: 314px;
    }

    .skills-right-side {
        width:100%;
        flex-direction: column;
        overflow: hidden;
    }

    .skills-right-side .skills-track {
        flex-wrap: nowrap;
        justify-content: flex-start;
        transition: transform 0.3s ease;
        gap:0px;
    }

    .skills-right-side .slide {
        flex: 0 0 100%;
        gap:0px;
    }
    
    .skills-right-side .slide:last-child {
        justify-content: center;
    }

    .skills-right-side .skills-track .item {
        flex: 0 0 50%;
    }

    .skills-right-side .carousel-dots {
        display:flex;
    }
    
    .info-right-side h2 {
        font-size: 24px;
    }

    .info-right-side p {
        font-size: 14px;
        max-width: 310px;;
        margin-bottom: 30px;
    }
    .info-right-side .info-social {
        margin:auto;
    }

    footer {
        padding-top: 50px;
    }

    footer .footer-bar {
        width: calc(100% - 70px)
    }

    footer .footer-info {
        flex-direction: column;
        align-items: center;
    }

    footer .footer-info-left-side {
        margin:0px;
        margin-bottom: 20px;
    }

    footer .footer-info-right-side {
        margin:0px;
    }
}