* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

body {
    background-color: #131313;
}

header {
    max-width: 1110px;
    width: 100%;
    margin: auto;
    display:flex;
    padding: 45px 0px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-left:10px;
    cursor: pointer;
}

.header-button a,
.about a{
    max-width:255px;
    text-decoration: none;
    background-color: #B3F00D;
    color: #092F32;
    font-size: 16px;
    padding: 16px 40px;
    border-radius: 10px;
    display:flex;
    align-items: center;
    margin-right:10px;
}

.header-button a:hover,
.about a:hover {
    background: linear-gradient(95deg, #B3F00D 0%, #B3F00D 50%, #2AC8A3 100%);
}

.header-button a img,
.about a img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.about {
    max-width: 1110px;
    width:100%;
    margin:auto;
    display:flex;
}

.about-left-side,
.about-right-side {
    flex:1;
}

.about-left-side {
    margin-left: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.about-right-side {
    margin-right: 10px;
    display:flex;
    justify-content: flex-end;
}

.about-left-side h2 {
    font-size: 20px;
    font-weight: 400;
    color: #B3F00D;
    margin-bottom: 10px;
}

.about-left-side h1 {
    font-size: 40px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 20px;
}

.about-left-side p {
    font-size: 16px;
    color: #FFF;
    margin-bottom: 40px;
}

.about-right-side img {
    width: 532px;
    height: 532px;
}

.about .about-button-mobile {
    display:none;
}

@media (max-width: 800px) {
    .about {
        flex-direction: column;
    }

    .about-right-side {
        justify-content: center;
    }

    .about-left-side a {
        display:none;
    }

    .about .about-button-mobile {
        display:flex;
        justify-content: center;
    }

    .about-button-mobile a {
        min-width: 310px;
        margin: 0px;
        display:flex;
        justify-content: center;
        
    }
}

@media (max-width: 600px) {
    
    .header-logo {
        margin-left:32px;
    }
    
    .header-logo img {
        width: 146px;
        height:22px;
    }

    .header-button a {
        padding: 14px 15px;
        margin-right:32px;
    }

    .header-button a img {
        margin: 0px;
    }

    .header-button span {
        display:none;
    }

    .about-right-side img {
        width: 344px;
        height: 344px;
    }

    .about-left-side {
    margin-left: 34px;
    }

    .about-left-side h1 {
    font-size: 28px;
    }

    .about-left-side p {
    font-size: 14px;
    max-width: 310px;
    }


}